<a href="https://colab.research.google.com/github/6230204351/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **สมาชิก emulete**

- นางสาว ณัฐธิดา  เมยดง 623020435-1 STAT

- นางสาว ชลธิชา ศาลางาม 623020518-7 SI

- นางสาว นัจนันท์ ศรีสิน  623021002-7 STAT

ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจากhttps://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR2TOFCt16PG2k9xeKIA7jnTEm63uTzd3nRacpzhJEp3d3-6QCtWz3tQskw ) )

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
- user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
- RowKey เป็น String
- date เป็น YYYY-MM-DD
- phone เป็น String
- site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
- time เป็น hh-mm-ss
- urine มีค่า String
- ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
- PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))
ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
- จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
- ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
- อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

# นำเข้าข้อมูล

In [1]:
import pandas as pd # ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os # จัดการไฟล์และpath ที่นำเข้า

In [2]:
from google.colab import drive # เชื่อมgoogle drive
drive.mount('/content/drive') 
path='/content/drive/My Drive/Final data 2022'

Mounted at /content/drive

# นำเข้าตาราง

In [5]:
data = pd.read_csv(os.path.join(path,'alldb.csv')) #อ่านไฟล์ csv เเล้วชี้ไปที่ไฟล์ alldb.csv
data # เรียกดูตาราง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [12]:
data.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data
#เนื่องจากมี True เกือบทุกคอลัมน์ แสดงว่ามีค่าที่เป็น Missing

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

In [15]:
data_all = data[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','title','age']] # เลือกเฉพาะคอลัมน์ที่ต้องการ
data_all

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

# user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [23]:
data_alldb = data_all[(data_all['user'].astype(str).str.isdigit())& (data_all['user'].str.len() == 5)]
data_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

In [24]:
data_alldb.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_user
#พบว่าคอลัมน์ user เป็นค่า False เเสดงว่า ไม่มีค่า Missing

user            False
RowKey          False
date             True
phone           False
site             True
time             True
urine            True
ov               True
PartitionKey     True
title            True
age              True
dtype: bool

In [26]:
set(data_alldb['user'])

{'14291',
 '14255',
 '86050',
 '17916',
 '45783',
 '00030',
 '52921',
 '00251',
 '33237',
 '81570',
 '38522',
 '86133',
 '28917',
 '15801',
 '00149',
 '47122',
 '00143',
 '74782',
 '00132',
 '13978',
 '70671',
 '76105',
 '86299',
 '24846',
 '54468',
 '04255',
 '05391',
 '59128',
 '27484',
 '51310',
 '84935',
 '05228',
 '61806',
 '67212',
 '18954',
 '86981',
 '00019',
 '37127',
 '60581',
 '55911',
 '00034',
 '62443',
 '23675',
 '69428',
 '34705',
 '93020',
 '00079',
 '25071',
 '63748',
 '37691',
 '00201',
 '00156',
 '00159',
 '16848',
 '45729',
 '44888',
 '63306',
 '08021',
 '00049',
 '87374',
 '63429',
 '36362',
 '22244',
 '67450',
 '13824',
 '69681',
 '52481',
 '71813',
 '34169',
 '00055',
 '94538',
 '00183',
 '29875',
 '87315',
 '63200',
 '17415',
 '48016',
 '00041',
 '37915',
 '63477',
 '81472',
 '96061',
 '52180',
 '10105',
 '00118',
 '45485',
 '50900',
 '51795',
 '93991',
 '21378',
 '89056',
 '70187',
 '00112',
 '21045',
 '22722',
 '75579',
 '00004',
 '55692',
 '67961',
 '23630',
 '90604',
 '32591',
 '45876',
 '92747',
 '63068',
 '20061',
 '66771',
 '00054',
 '00208',
 '61552',
 '00276',
 '77782',
 '12561',
 '46333',
 '48255',
 '85753',
 '26990',
 '24032',
 '05242',
 '11611',
 '50624',
 '05358',
 '46902',
 '65555',
 '81724',
 '58845',
 '10534',
 '02647',
 '24404',
 '27604',
 '29611',
 '38463',
 '00278',
 '28348',
 '68805',
 '00124',
 '75487',
 '51973',
 '00320',
 '96292',
 '02897',
 '41301',
 '53751',
 '62105',
 '87697',
 '92962',
 '09072',
 '19130',
 '63091',
 '91167',
 '91917',
 '09582',
 '10194',
 '19911',
 '00024',
 '99376',
 '19180',
 '04325',
 '63323',
 '00148',
 '02962',
 '64671',
 '47858',
 '63910',
 '45161',
 '00052',
 '39638',
 '86474',
 '82954',
 '01403',
 '07556',
 '00309',
 '01721',
 '00289',
 '21688',
 '61218',
 '00196',
 '78960',
 '13361',
 '65733',
 '71921',
 '72364',
 '51065',
 '00153',
 '46285',
 '59226',
 '73445',
 '00214',
 '99245',
 '77645',
 '42682',
 '90817',
 '97255',
 '16247',
 '51474',
 '02594',
 '70059',
 '49413',
 '05961',
 '51175',
 '48298',
 '62459',
 '53481',
 '92893',
 '49103',
 '63485',
 '86601',
 '86547',
 '99835',
 '32451',
 '23078',
 '76803',
 '63098',
 '00267',
 '98171',
 '78257',
 '95301',
 '34210',
 '85094',
 '59305',
 '92756',
 '97505',
 '63865',
 '96771',
 '03338',
 '00039',
 '98290',
 '05374',
 '62059',
 '79817',
 '79322',
 '07644',
 '00050',
 '90257',
 '31879',
 '20304',
 '54923',
 '72186',
 '96099',
 '77994',
 '77509',
 '14106',
 '31143',
 '22354',
 '17564',
 '00296',
 '03500',
 '33316',
 '43791',
 '31283',
 '07166',
 '63753',
 '00286',
 '99771',
 '28010',
 '22478',
 '11198',
 '19250',
 '00292',
 '20380',
 '47656',
 '76011',
 '19201',
 '20847',
 '29999',
 '38121',
 '06436',
 '57228',
 '02102',
 '46897',
 '41026',
 '80317',
 '96706',
 '00322',
 '04193',
 '30311',
 '00282',
 '69037',
 '00351',
 '00180',
 '21432',
 '64385',
 '85702',
 '06268',
 '80067',
 '32077',
 '40035',
 '94135',
 '77670',
 '36692',
 '95810',
 '24612',
 '74951',
 '89609',
 '00226',
 '79493',
 '80481',
 '93671',
 '91402',
 '97461',
 '05182',
 '62491',
 '92241',
 '73302',
 '89195',
 '08818',
 '90154',
 '61095',
 '45593',
 '18008',
 '00082',
 '47593',
 '03087',
 '29271',
 '05154',
 '26511',
 '76642',
 '01408',
 '15229',
 '23186',
 '30481',
 '00117',
 '22456',
 '12345',
 '38500',
 '79525',
 '16630',
 '85493',
 '33503',
 '02604',
 '74840',
 '77688',
 '34791',
 '50951',
 '00185',
 '02230',
 '44364',
 '73251',
 '44902',
 '25659',
 '88351',
 '02471',
 '43257',
 '49387',
 '39802',
 '26082',
 '47061',
 '63274',
 '65075',
 '48440',
 '00187',
 '02759',
 '09226',
 '10982',
 '51568',
 '50004',
 '81537',
 '90571',
 '07331',
 '66801',
 '83662',
 '88315',
 '36141',
 '87771',
 '31401',
 '67094',
 '77567',
 '80336',
 '37914',
 '16971',
 '92648',
 '00182',
 '00109',
 '20291',
 '44018',
 '46481',
 '48962',
 '58814',
 '39079',
 '67972',
 '84409',
 '34585',
 '64520',
 '23885',
 '73876',
 '18890',
 '98509',
 '00069',
 '60847',
 '00328',
 '63852',
 '37645',
 '00115',
 '05063',
 '48493',
 '00120',
 '16321',
 '50911',
 '19737',
 '12786',
 '84276',
 '65664',
 '74103',
 '35942',
 '34988',
 '25781',
 '11569',
 '73336',
 '10348',
 '11165',
 '00293',
 '05113',
 '00202',
 '00021',
 '62241',
 '16970',
 '26859',
 '89837',
 '80979',
 '25221',
 '00285',
 '37607',
 '97965',
 '24501',
 '57954',
 '50172',
 '76819',
 '65675',
 '00047',
 '45680',
 '00319',
 '70492',
 '19364',
 '44845',
 '74345',
 '48514',
 '54100',
 '43431',
 '84540',
 '58196',
 '84459',
 '64810',
 '11727',
 '95291',
 '76246',
 '59181',
 '00192',
 '94406',
 '26811',
 '00624',
 '19241',
 '77665',
 '78494',
 '96786',
 '74335',
 '14771',
 '13073',
 '89913',
 '12015',
 '29907',
 '08741',
 '10405',
 '05507',
 '31619',
 '55659',
 '82582',
 '94414',
 '14037',
 '77706',
 '55806',
 '09259',
 '87029',
 '49634',
 '71998',
 '31229',
 '41000',
 '68317',
 '94601',
 '03558',
 '49178',
 '19671',
 '14801',
 '00352',
 '01883',
 '00280',
 '18733',
 '42453',
 '20606',
 '36994',
 '19624',
 '43068',
 '99011',
 '15963',
 '26989',
 '00121',
 '50471',
 '00028',
 '28381',
 '38778',
 '39965',
 '04388',
 '27658',
 '28330',
 '00078',
 '49863',
 '67280',
 '04281',
 '00134',
 '94019',
 '26957',
 '50577',
 '10264',
 '00027',
 '05152',
 '61325',
 '82951',
 '79920',
 '18181',
 '72225',
 '37151',
 '39448',
 '77576',
 '00157',
 '32310',
 '23012',
 '00399',
 '71417',
 '41937',
 '89381',
 '16085',
 '06385',
 '84479',
 '28241',
 '31011',
 '59721',
 '61605',
 '00409',
 '11361',
 '76339',
 '00748',
 '63767',
 '94392',
 '64612',
 '26442',
 '19527',
 '00210',
 '48710',
 '00137',
 '60250',
 '13312',
 '29417',
 '24622',
 '19632',
 '00007',
 '53011',
 '63799',
 '91438',
 '01651',
 '47429',
 '00165',
 '98530',
 '30016',
 '59423',
 '31762',
 '74432',
 '63381',
 '00394',
 '46732',
 '50349',
 '18892',
 '54932',
 '00565',
 '69911',
 '53920',
 '00306',
 '78731',
 '50144',
 '55239',
 '41951',
 '84005',
 '55354',
 '12022',
 '53356',
 '53333',
 '61087',
 '63471',
 '19855',
 '11887',
 '79028',
 '33739',
 '60909',
 '66381',
 '25176',
 '98908',
 '00268',
 '49161',
 '65321',
 '57066',
 '54544',
 '64199',
 '26043',
 '25199',
 '97057',
 '37728',
 '00116',
 '18385',
 '95104',
 '49791',
 '80253',
 '00131',
 '00177',
 '70610',
 '31322',
 '11215',
 '02663',
 '18873',
 '32891',
 '24986',
 '00188',
 '27902',
 '25829',
 '02853',
 '10992',
 '00171',
 '87536',
 '82777',
 '63018',
 '39539',
 '74493',
 '19808',
 '58870',
 '99999',
 '73375',
 '00174',
 '49268',
 '54614',
 '00023',
 '61338',
 '31133',
 '35605',
 '00308',
 '52227',
 '38305',
 '68768',
 '05353',
 '37259',
 '45787',
 '75771',
 '90609',
 '05210',
 '92691',
 '00252',
 '19756',
 '95151',
 '46767',
 '02091',
 '09269',
 '00140',
 '04055',
 '66501',
 '42228',
 '00125',
 '14914',
 '59326',
 '67400',
 '31428',
 '05433',
 '01730',
 '87067',
 '00253',
 '30121',
 '00154',
 '31811',
 '33219',
 '28593',
 '00297',
 '00198',
 '00129',
 '66437',
 '17974',
 '10724',
 '84768',
 '95161',
 '28627',
 '29796',
 '78231',
 '66191',
 '89290',
 '08734',
 '00578',
 '09529',
 '16193',
 '71872',
 '06681',
 '00162',
 '97770',
 '03431',
 '05849',
 '19762',
 '55873',
 '04405',
 '18318',
 '79066',
 '16783',
 '53579',
 '11177',
 '48646',
 '94881',
 '28992',
 '70455',
 '44201',
 '89576',
 '50284',
 '20827',
 '52013',
 '04387',
 '02087',
 '00217',
 '15678',
 '53616',
 '00029',
 '77358',
 '52350',
 '00152',
 '93307',
 '15102',
 '24179',
 '00294',
 '68829',
 '71152',
 '86542',
 '78901',
 '16162',
 '55299',
 '50063',
 '95668',
 '00145',
 '35888',
 '67864',
 '22421',
 '74069',
 '69091',
 '48768',
 '00167',
 '92545',
 '78486',
 '65854',
 '74747',
 '40577',
 '37231',
 '37551',
 '71112',
 '25128',
 '42120',
 '73946',
 '00035',
 '19920',
 '92073',
 '11282',
 '39529',
 '03421',
 '01636',
 '75347',
 '29485',
 '00163',
 '16820',
 '36385',
 '03217',
 '39959',
 '94279',
 '00151',
 '53151',
 '40886',
 '01312',
 '99288',
 '46520',
 '50580',
 '75061',
 '28402',
 '03731',
 '42468',
 '75911',
 '00400',
 '22099',
 '02862',
 '94454',
 '52520',
 '96670',
 '16174',
 '76486',
 '81293',
 '89394',
 '00205',
 '20395',
 '91645',
 '45563',
 '81409',
 '00141',
 '47938',
 '87181',
 '00193',
 '65678',
 '00074',
 '91209',
 '91947',
 '72483',
 '50466',
 '00065',
 '74523',
 '02784',
 '45752',
 '23958',
 '37140',
 '05663',
 '26477',
 '10691',
 '30660',
 '23010',
 '26462',
 '19852',
 '78054',
 '31582',
 '44509',
 '10460',
 '98519',
 '46662',
 '62334',
 '22804',
 '69789',
 '88135',
 '06924',
 '46566',
 '13406',
 '87394',
 '72451',
 '41340',
 '02878',
 '72938',
 '96699',
 '81095',
 '92042',
 '75841',
 '78673',
 '83257',
 '00053',
 '94494',
 '45701',
 '84063',
 '98488',
 '84392',
 '61265',
 '24258',
 '70810',
 '63312',
 '68037',
 '02263',
 '23416',
 '08242',
 '00266',
 '85879',
 '00404',
 '01068',
 '01024',
 '20215',
 '14767',
 '03562',
 '61320',
 '00318',
 '52678',
 '00582',
 '00032',
 '00139',
 '28291',
 '01594',
 '70409',
 '85379',
 '39764',
 '78334',
 '03949',
 '05038',
 '49308',
 '25923',
 '05047',
 '45736',
 '44199',
 '66386',
 '33121',
 '09902',
 '43834',
 '02396',
 '00216',
 '55365',
 '32387',
 '26776',
 '96081',
 '54214',
 '43657',
 '61587',
 '00005',
 '67409',
 '58271',
 '39103',
 '25331',
 '24994',
 '37186',
 '42173',
 '00044',
 '19559',
 '04991',
 '68006',
 '00128',
 '29051',
 '29159',
 '91811',
 '85989',
 '14088',
 '23058',
 '45914',
 '31114',
 '00246',
 '42370',
 '54281',
 '09343',
 '09315',
 '77978',
 '49215',
 '66261',
 '25593',
 '65390',
 '06223',
 '38547',
 '17790',
 '43143',
 '90888',
 '00302',
 '22545',
 '29476',
 '00018',
 '00122',
 '69566',
 '86774',
 '00012',
 '92948',
 '46313',
 '49322',
 '00026',
 '10653',
 '61591',
 '67379',
 '21010',
 '08011',
 '04857',
 '76299',
 '06283',
 '67850',
 '08998',
 '00283',
 '15737',
 '47615',
 '74289',
 '11027',
 '06790',
 '38822',
 '00191',
 '00215',
 '30041',
 '48274',
 '85934',
 '00941',
 '79590',
 '03409',
 '97484',
 '03663',
 '00189',
 '44805',
 '96630',
 '68081',
 '96431',
 '00357',
 '89493',
 '62962',
 '45884',
 '82894',
 '43228',
 '32914',
 '10905',
 '14455',
 '47602',
 '03535',
 '76523',
 '06277',
 '79834',
 '82211',
 '00303',
 '02217',
 '69431',
 '23738',
 '08602',
 '48908',
 '16904',
 ...}

# RowKey เป็น String

In [27]:
data_alldb['RowKey'] = data_alldb['RowKey'].astype('str')
data_alldb.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed

In [28]:
data_alldb.shape

(38508, 11)

# date เป็น YYYY-MM-DD

In [30]:
data_alldb['date']=pd.to_datetime(data_alldb['date'], format='%Y-%m-%d')
data_alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaT,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

In [31]:
data_alldb.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_alldb

user            False
RowKey          False
date             True
phone           False
site             True
time             True
urine            True
ov               True
PartitionKey     True
title            True
age              True
dtype: bool

In [38]:
data_alldb['date'] = data_alldb[['date']].fillna(method="ffill")      
data_alldb.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66

In [39]:
data_alldb.shape

(37465, 11)

In [35]:
data_alldb.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_alldb

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
age             False
dtype: bool

# phone เป็น String

In [36]:
data_alldb['phone'] = data_alldb['phone'].astype('str')
data_alldb.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66

In [41]:
data_alldb.shape

(37465, 11)

# site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [42]:
data_alldb1 = data_alldb[(data_all['site'].astype(str).str.isdigit())& (data_all['site'].str.len() == 5)]
data_alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0,61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0,89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed,data is not completed

In [43]:
set(data_alldb1['site'])

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '01151',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

# time เป็น hh-mm-ss

In [44]:
data_alldb1['time']=data_alldb1['time'].replace(':','-',regex=True)
data_alldb1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14-05-25,ปกติ (เหลืองใส),0,61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14-42-45,ปกติ (เหลืองใส),0,89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15-32-53,ปกติ (เหลืองใส),1,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,data is not completed,data is not completed

In [48]:
set(data_alldb1['time'])

{'12-19-30',
 '11-45-48',
 '14-46-39',
 '12-47-53',
 '20-26-01',
 '09-30-20',
 '17-08-13',
 '14-57-00',
 '15-16-03',
 '13-58-02',
 '16-02-49',
 '09-02-36',
 '19-51-17',
 '13-25-01',
 '11-38-08',
 '11-39-32',
 '12-35-25',
 '21-18-30',
 '10-03-49',
 '15-58-31',
 '12-14-09',
 '13-44-43',
 '15-41-46',
 '12-23-40',
 '14-36-43',
 '12-02-56',
 '21-19-02',
 '12-13-00',
 '13-34-16',
 '10-23-50',
 '15-59-34',
 '12-55-56',
 '10-59-41',
 '18-54-43',
 '10-40-13',
 '16-17-58',
 '14-01-18',
 '11-38-10',
 '10-19-49',
 '10-43-38',
 '16-10-30',
 '21-27-55',
 '15-22-30',
 '11-28-53',
 '10-30-54',
 '17-48-13',
 '09-01-08',
 '11-54-02',
 '09-58-36',
 '14-00-34',
 '08-49-59',
 '14-00-30',
 '11-17-30',
 '09-28-46',
 '10-07-28',
 '21-58-46',
 '16-25-02',
 '16-00-31',
 '10-05-02',
 '10-13-31',
 '11-31-43',
 '12-23-06',
 '14-24-45',
 '14-45-54',
 '10-59-18',
 '11-56-48',
 '09-49-34',
 '11-51-36',
 '10-05-26',
 '10-31-08',
 '23-48-56',
 '12-11-05',
 '11-45-28',
 '10-13-19',
 '14-36-38',
 '16-46-56',
 '09-55-50',
 '09-50-38',
 '21-50-01',
 '10-31-09',
 '13-15-27',
 '09-30-29',
 '15-49-44',
 '12-25-31',
 '10-29-27',
 '13-14-45',
 '22-41-08',
 '15-39-54',
 '15-09-08',
 '09-46-27',
 '18-29-55',
 '12-29-52',
 '10-24-59',
 '17-25-55',
 '09-22-27',
 '16-32-23',
 '14-51-15',
 '10-04-23',
 '12-48-28',
 '15-52-34',
 '13-35-59',
 '10-46-05',
 '16-00-03',
 '16-38-31',
 '11-39-08',
 '12-54-11',
 '14-07-02',
 '17-10-34',
 '21-26-49',
 '10-26-09',
 '11-49-31',
 '14-24-40',
 '13-21-10',
 '09-55-54',
 '14-17-06',
 '09-43-52',
 '13-51-44',
 '18-03-50',
 '10-16-29',
 '15-54-26',
 '12-41-20',
 '10-07-07',
 '09-10-39',
 '14-04-16',
 '15-29-35',
 '09-58-06',
 '12-19-07',
 '13-39-32',
 '10-55-01',
 '14-43-20',
 '18-01-18',
 '13-07-35',
 '13-34-06',
 '11-17-28',
 '11-30-46',
 '14-21-44',
 '13-55-22',
 '19-58-50',
 '10-37-35',
 '12-23-51',
 '09-28-10',
 '10-21-22',
 '14-28-05',
 '16-00-26',
 '17-12-55',
 '19-17-11',
 '10-45-53',
 '16-04-20',
 '14-01-10',
 '15-27-46',
 '16-24-45',
 '13-54-56',
 '12-09-59',
 '15-07-41',
 '15-44-31',
 '10-08-18',
 '12-14-58',
 '14-22-50',
 '09-18-06',
 '13-29-33',
 '18-34-11',
 '10-02-24',
 '10-23-19',
 '10-54-19',
 '17-04-40',
 '10-35-00',
 '11-58-38',
 '10-23-33',
 '09-59-38',
 '16-46-24',
 '15-52-53',
 '11-16-32',
 '12-53-40',
 '16-22-40',
 '11-13-36',
 '14-18-42',
 '10-54-10',
 '12-10-01',
 '15-22-40',
 '11-15-54',
 '20-55-58',
 '13-03-36',
 '11-41-43',
 '11-47-57',
 '16-02-39',
 '20-28-36',
 '11-38-41',
 '18-30-58',
 '10-37-58',
 '09-58-38',
 '11-25-16',
 '15-10-26',
 '12-56-45',
 '16-43-00',
 '16-32-22',
 '21-10-34',
 '14-06-16',
 '13-48-03',
 '15-35-01',
 '15-21-49',
 '12-46-04',
 '12-55-03',
 '17-33-59',
 '10-22-10',
 '12-35-52',
 '12-09-48',
 '17-18-38',
 '17-49-55',
 '16-31-09',
 '14-51-47',
 '16-04-03',
 '09-17-06',
 '13-25-00',
 '13-37-03',
 '15-02-07',
 '15-50-08',
 '14-47-38',
 '10-07-52',
 '13-59-08',
 '13-08-43',
 '16-30-25',
 '09-25-59',
 '10-41-54',
 '10-02-10',
 '10-57-29',
 '14-32-38',
 '10-20-04',
 '16-40-33',
 '09-18-19',
 '15-10-56',
 '14-03-33',
 '10-58-24',
 '10-12-56',
 '11-02-17',
 '15-07-31',
 '10-29-16',
 '12-06-41',
 '10-38-09',
 '12-49-22',
 '14-32-58',
 '16-26-23',
 '11-40-12',
 '09-57-21',
 '12-28-59',
 '09-04-23',
 '11-40-41',
 '11-01-58',
 '09-19-42',
 '15-24-25',
 '17-19-18',
 '15-47-27',
 '09-58-03',
 '11-42-34',
 '12-22-44',
 '12-13-04',
 '09-34-51',
 '16-58-37',
 '10-31-01',
 '10-22-08',
 '10-58-49',
 '14-18-02',
 '12-50-50',
 '14-17-53',
 '09-04-25',
 '17-03-43',
 '12-56-20',
 '15-26-05',
 '17-33-38',
 '15-50-49',
 '15-04-47',
 '11-04-19',
 '11-34-32',
 '14-29-59',
 '14-18-15',
 '10-59-50',
 '11-36-22',
 '13-18-46',
 '15-52-21',
 '11-58-15',
 '08-34-45',
 '09-53-56',
 '10-04-47',
 '11-22-33',
 '14-12-21',
 '12-04-44',
 '09-34-20',
 '15-01-57',
 '10-25-14',
 '10-44-12',
 '15-46-41',
 '14-53-33',
 '11-28-32',
 '14-26-22',
 '10-36-52',
 '16-06-24',
 '09-51-21',
 '16-50-48',
 '12-42-03',
 '14-40-45',
 '11-38-11',
 '15-57-31',
 '10-48-55',
 '09-45-01',
 '08-33-15',
 '11-41-06',
 '16-09-05',
 '10-18-03',
 '10-06-53',
 '11-41-04',
 '16-03-46',
 '10-27-44',
 '15-10-13',
 '16-59-22',
 '11-03-34',
 '11-14-12',
 '10-31-10',
 '11-24-53',
 '18-13-56',
 '11-40-10',
 '11-47-44',
 '13-50-47',
 '18-25-03',
 '09-49-51',
 '14-17-34',
 '12-40-26',
 '18-28-41',
 '12-26-57',
 '17-32-24',
 '10-11-28',
 '12-00-28',
 '22-04-16',
 '11-13-56',
 '12-10-27',
 '09-35-10',
 '12-59-08',
 '10-36-20',
 '14-26-11',
 '10-20-43',
 '16-30-34',
 '16-37-17',
 '16-58-18',
 '22-49-09',
 '12-21-03',
 '13-51-25',
 '11-54-23',
 '11-33-20',
 '09-26-01',
 '14-00-23',
 '10-49-42',
 '10-23-00',
 '17-29-31',
 '10-39-26',
 '14-22-21',
 '12-02-26',
 '12-53-38',
 '15-29-37',
 '15-29-40',
 '13-33-47',
 '14-31-18',
 '14-40-58',
 '09-58-35',
 '15-04-52',
 '10-54-04',
 '17-05-52',
 '18-46-39',
 '11-40-00',
 '20-27-05',
 '15-54-20',
 '16-57-20',
 '14-30-11',
 '11-11-45',
 '17-41-39',
 '13-44-47',
 '10-26-41',
 '11-28-44',
 '21-21-29',
 '11-52-07',
 '19-25-18',
 '16-27-18',
 '10-51-17',
 '15-23-09',
 '09-35-58',
 '09-50-48',
 '12-18-24',
 '12-29-18',
 '10-18-35',
 '10-39-05',
 '13-41-47',
 '11-24-27',
 '12-15-07',
 '11-29-44',
 '10-36-07',
 '16-39-50',
 '10-00-54',
 '14-08-35',
 '14-55-32',
 '09-20-09',
 '16-56-05',
 '11-52-28',
 '12-40-57',
 '12-22-10',
 '09-30-59',
 '14-29-43',
 '14-22-35',
 '15-07-23',
 '10-25-17',
 '21-46-52',
 '11-22-05',
 '11-18-43',
 '13-41-15',
 '13-46-23',
 '18-18-45',
 '09-39-16',
 '09-51-03',
 '18-28-14',
 '09-38-17',
 '12-46-57',
 '11-59-44',
 '09-36-24',
 '12-22-28',
 '16-07-26',
 '14-05-04',
 '14-24-36',
 '16-26-04',
 '10-42-30',
 '17-42-27',
 '14-28-34',
 '17-32-16',
 '10-42-59',
 '17-33-01',
 '17-35-16',
 '11-35-01',
 '14-28-15',
 '14-52-32',
 '12-20-50',
 '15-02-56',
 '10-34-59',
 '10-08-30',
 '10-52-11',
 '15-05-12',
 '09-29-07',
 '13-40-59',
 '15-45-31',
 '14-33-20',
 '13-05-22',
 '10-52-28',
 '12-16-28',
 '12-00-07',
 '10-17-03',
 '13-44-40',
 '12-03-21',
 '09-37-46',
 '12-03-33',
 '15-27-16',
 '13-59-58',
 '21-56-12',
 '13-50-50',
 '12-22-24',
 '09-51-10',
 '17-07-22',
 '13-15-15',
 '09-57-56',
 '13-07-08',
 '10-28-13',
 '12-18-39',
 '10-24-07',
 '15-32-14',
 '15-30-03',
 '20-50-14',
 '19-36-25',
 '12-01-15',
 '22-31-21',
 '09-39-11',
 '10-19-23',
 '09-46-55',
 '13-29-57',
 '14-46-16',
 '10-26-19',
 '14-08-32',
 '14-50-16',
 '16-10-03',
 '15-25-28',
 '19-52-21',
 '10-26-37',
 '09-38-01',
 '09-47-51',
 '12-26-58',
 '15-50-27',
 '22-35-43',
 '09-33-25',
 '12-20-19',
 '11-44-25',
 '09-45-54',
 '10-14-18',
 '14-25-12',
 '10-40-27',
 '13-41-54',
 '16-41-39',
 '22-29-54',
 '16-25-22',
 '14-01-50',
 '14-34-01',
 '15-24-24',
 '15-14-03',
 '13-19-37',
 '12-59-12',
 '10-12-33',
 '11-47-15',
 '12-58-23',
 '11-17-12',
 '13-18-03',
 '13-49-07',
 '16-10-26',
 '16-13-49',
 '13-57-08',
 '14-43-23',
 '15-29-41',
 '15-39-32',
 '14-37-19',
 '14-04-12',
 '12-03-26',
 '11-30-54',
 '17-12-15',
 '11-46-40',
 '10-22-52',
 '11-35-20',
 '10-57-58',
 '13-17-05',
 '14-49-33',
 '11-25-10',
 '11-30-45',
 '10-04-25',
 '11-43-37',
 '15-30-57',
 '12-27-35',
 '10-18-44',
 '15-49-35',
 '09-39-35',
 '11-51-12',
 '10-38-57',
 '12-24-25',
 '19-18-32',
 '16-49-57',
 '16-33-11',
 '14-21-55',
 '10-50-34',
 '19-55-53',
 '16-00-21',
 '09-31-35',
 '09-15-44',
 '09-28-53',
 '10-30-42',
 '09-02-48',
 '10-07-46',
 '16-50-34',
 '16-03-41',
 '16-02-48',
 '15-40-27',
 '12-06-52',
 '09-49-39',
 '09-19-01',
 '16-24-16',
 '16-08-30',
 '10-59-07',
 '16-49-08',
 '11-23-44',
 '14-53-10',
 '19-30-11',
 '13-13-16',
 '15-47-56',
 '16-54-12',
 '15-28-39',
 '17-34-01',
 '11-14-46',
 '11-38-52',
 '12-29-32',
 '12-08-47',
 '11-08-09',
 '11-02-37',
 '11-28-56',
 '14-32-17',
 '11-39-58',
 '09-50-41',
 '12-01-10',
 '15-00-25',
 '12-24-38',
 '11-32-09',
 '19-53-45',
 '11-23-21',
 '13-27-41',
 '17-57-58',
 '14-35-01',
 '12-30-03',
 '10-19-20',
 '10-04-27',
 '17-36-28',
 '14-41-08',
 '15-46-28',
 '10-32-24',
 '14-28-16',
 '17-27-14',
 '19-28-52',
 '12-51-40',
 '16-37-55',
 '16-34-52',
 '21-50-02',
 '12-52-28',
 '11-47-31',
 '10-48-26',
 '09-34-25',
 '14-25-20',
 '16-26-37',
 '11-47-05',
 '12-15-03',
 '15-03-09',
 '11-11-40',
 '11-10-49',
 '10-43-21',
 '10-18-33',
 '13-56-20',
 '09-50-23',
 '11-02-00',
 '10-01-59',
 '10-26-55',
 '14-41-47',
 '10-50-47',
 '14-29-16',
 '17-42-54',
 '14-48-59',
 '09-35-07',
 '10-44-02',
 '10-14-39',
 '11-07-56',
 '15-16-59',
 '16-37-44',
 '14-14-07',
 '16-08-42',
 '13-34-14',
 '16-06-45',
 '12-57-15',
 '17-00-41',
 '10-32-20',
 '10-41-11',
 '21-49-50',
 '18-14-30',
 '17-19-58',
 '12-16-03',
 '10-02-59',
 '11-37-02',
 '11-37-49',
 '17-35-46',
 '15-44-50',
 '12-58-28',
 '13-55-48',
 '12-51-23',
 '15-05-29',
 '17-07-12',
 '10-10-47',
 '09-20-02',
 '09-30-30',
 '10-24-12',
 '16-32-51',
 '09-28-02',
 '16-28-22',
 '10-09-54',
 '10-38-34',
 '10-24-52',
 '19-22-36',
 '10-30-00',
 '12-40-38',
 '12-04-26',
 '16-35-10',
 '13-34-46',
 '10-16-51',
 '17-50-52',
 '14-40-48',
 '14-49-38',
 '12-06-30',
 '22-39-50',
 '12-51-30',
 '11-10-59',
 '13-03-22',
 '10-02-17',
 '14-09-34',
 '16-38-15',
 '12-12-44',
 '11-32-11',
 '20-23-26',
 '19-21-37',
 '11-40-44',
 '16-52-21',
 '13-34-00',
 '10-50-07',
 '13-12-01',
 '16-03-17',
 '16-37-28',
 '09-44-00',
 '14-55-33',
 '15-28-55',
 '14-37-18',
 '14-49-22',
 '11-59-54',
 '12-09-38',
 '14-38-55',
 '14-05-19',
 '10-03-29',
 '16-34-09',
 '11-30-03',
 '12-04-18',
 '09-53-42',
 '10-36-18',
 '11-07-16',
 '13-42-07',
 '12-36-03',
 '15-12-54',
 '15-56-58',
 '14-02-09',
 '11-07-27',
 '18-46-13',
 '12-10-16',
 '17-26-02',
 '18-13-52',
 '14-09-46',
 '19-05-39',
 '10-36-25',
 '09-23-22',
 '14-31-46',
 '12-23-10',
 '15-24-15',
 '19-16-58',
 '11-11-34',
 '10-37-00',
 '15-28-23',
 '18-55-42',
 '13-24-36',
 '11-39-21',
 '14-50-09',
 '10-58-23',
 '12-15-40',
 '15-55-35',
 '12-13-03',
 '10-47-49',
 '17-09-58',
 '10-02-29',
 '11-36-00',
 '10-19-47',
 '10-55-51',
 '09-26-30',
 '11-12-19',
 '16-01-37',
 '16-06-55',
 '16-56-36',
 '11-48-41',
 '13-47-38',
 '14-44-51',
 '12-23-14',
 '14-38-53',
 '16-02-23',
 '10-36-12',
 '09-58-10',
 '10-23-42',
 '14-46-22',
 '09-20-03',
 '15-30-30',
 '10-29-39',
 '16-12-30',
 '10-33-18',
 '15-51-20',
 '14-03-55',
 '10-36-13',
 '10-21-55',
 '11-29-24',
 '13-34-54',
 '21-05-08',
 '16-35-00',
 '12-15-13',
 '11-28-07',
 '16-08-54',
 '12-21-47',
 '11-56-10',
 '10-43-00',
 '12-37-21',
 '12-27-44',
 '16-12-04',
 '14-02-36',
 '09-45-42',
 '15-19-14',
 '09-33-32',
 '09-48-45',
 '12-27-45',
 '10-08-31',
 '13-13-32',
 '09-37-48',
 '13-30-33',
 '15-53-26',
 '17-33-11',
 '14-05-26',
 '11-07-42',
 '17-39-22',
 '18-34-13',
 '15-55-01',
 '17-03-40',
 '13-54-38',
 '16-42-42',
 '09-49-23',
 '16-23-38',
 '13-53-26',
 '15-35-08',
 '15-30-19',
 '11-57-51',
 '13-20-15',
 '10-01-29',
 '11-02-30',
 '09-50-58',
 '17-07-08',
 '13-22-28',
 '15-41-42',
 '16-01-03',
 '21-35-23',
 '11-34-00',
 '10-49-50',
 '15-13-21',
 '14-22-39',
 '15-24-57',
 '14-00-32',
 '14-23-06',
 '08-10-09',
 '13-20-31',
 '15-45-14',
 '10-13-05',
 '11-43-55',
 '10-43-12',
 '11-37-06',
 '15-40-58',
 '11-03-27',
 '13-18-21',
 '12-11-33',
 '15-37-24',
 '10-51-29',
 '12-45-47',
 '10-14-49',
 '12-25-54',
 '17-01-54',
 '18-44-34',
 '14-39-30',
 '13-25-48',
 '22-59-06',
 '09-48-01',
 '15-08-25',
 '14-12-44',
 '13-04-00',
 '14-34-06',
 '18-11-35',
 '12-03-54',
 '13-53-48',
 '14-26-46',
 '15-52-49',
 '10-48-01',
 '18-04-57',
 '10-29-26',
 '16-19-43',
 '12-55-02',
 '12-34-00',
 '21-49-57',
 '13-07-48',
 '16-38-53',
 '14-19-04',
 '17-43-47',
 '12-03-16',
 '08-22-19',
 '16-53-01',
 '10-19-05',
 '16-49-03',
 '11-36-13',
 '12-04-57',
 '13-38-36',
 '14-15-38',
 '10-32-08',
 '10-37-02',
 '10-43-06',
 '11-53-24',
 '10-37-29',
 '10-58-02',
 '14-33-45',
 '11-53-01',
 '15-58-20',
 '13-16-13',
 '11-53-32',
 '15-48-08',
 '09-06-47',
 '10-06-21',
 '10-37-52',
 '09-31-40',
 '09-46-35',
 '14-26-33',
 '22-16-13',
 '18-54-58',
 '16-22-46',
 '11-46-36',
 '12-59-55',
 '11-21-19',
 '12-04-36',
 '14-30-43',
 '17-49-28',
 '15-01-59',
 '11-57-01',
 '13-06-09',
 '11-39-50',
 '17-36-15',
 '19-44-10',
 '13-27-22',
 '10-19-22',
 '16-50-40',
 '10-28-04',
 '10-57-00',
 '12-09-45',
 '18-13-27',
 '09-38-33',
 '11-56-24',
 '10-20-01',
 '10-22-09',
 '13-59-06',
 '09-44-49',
 '15-47-58',
 '12-55-25',
 '14-22-02',
 '13-53-15',
 '15-59-01',
 '18-42-08',
 '10-39-01',
 '17-18-43',
 '16-11-32',
 '09-44-36',
 '12-22-59',
 '08-01-44',
 '21-20-06',
 '11-21-57',
 '11-46-41',
 '10-33-00',
 '12-04-31',
 '15-54-29',
 '14-06-01',
 '15-41-07',
 '16-31-16',
 '09-29-25',
 '16-51-45',
 '16-21-17',
 '09-56-39',
 '09-26-55',
 '13-56-40',
 '10-10-33',
 '16-18-55',
 '13-41-44',
 '15-21-47',
 '12-18-16',
 '09-59-43',
 '15-06-34',
 '13-45-06',
 '14-18-44',
 '14-19-23',
 '08-30-40',
 '14-56-00',
 '10-22-17',
 '14-17-58',
 '12-01-53',
 '17-03-52',
 '10-47-29',
 '10-57-47',
 '10-26-56',
 '11-30-24',
 '12-20-06',
 '16-12-22',
 '10-27-52',
 '10-29-01',
 '09-34-59',
 '18-48-01',
 '16-40-38',
 '11-51-56',
 '14-00-49',
 '15-36-45',
 '09-52-01',
 '09-48-42',
 '14-40-16',
 '13-06-25',
 '11-30-05',
 '10-22-33',
 '14-54-39',
 '09-58-44',
 '14-12-56',
 '09-25-14',
 '12-45-24',
 '12-02-13',
 '12-03-18',
 '10-57-57',
 '14-16-45',
 '12-01-42',
 '11-48-40',
 '13-54-06',
 '16-03-10',
 '11-15-44',
 ...}

# urine มีค่า String

In [45]:
data_alldb1['urine'] = data_alldb['urine'].astype('str')
data_alldb1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,นาย,66

In [47]:
set(data_alldb1['urine'])

{'ขุ่น',
 'ขุ่น, มีตะกอน',
 'ขุ่น, มีตะกอน, มีเม็ดเลือดแดง',
 'ขุ่น, มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, มีเม็ดเลือดแดง',
 'ขุ่น, สีน้ำนม',
 'ขุ่น, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส)',
 'ปกติ (เหลืองใส), ขุ่น',
 'ปกติ (เหลืองใส), ขุ่น, มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), มีเม็ดเลือดแดง',
 'ปกติ (เหลืองใส), สีน้ำนม',
 'ปกติ (เหลืองใส), สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า, สีน้ำนม',
 'มีตะกอน',
 'มีตะกอน, มีเม็ดเลือดแดง',
 'มีตะกอน, มีเม็ดเลือดแดง, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, มีเลือดปน',
 'มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, ใส่เป็นน้ำเปล่า',
 'มีเม็ดเลือดแดง',
 'มีเลือดปน',
 'มีเลือดปน, สีเหลืองส้ม (ผิดปกติ)',
 'สีน้ำนม',
 'สีฟ้า หรือน้ำเงิน',
 'สีเหลืองส้ม (ผิดปกติ)',
 'ใสเป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า, สีฟ้า หรือน้ำเงิน'}

# ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 
(0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [ ]:
set(data_alldb1['ov'])

In [60]:
data_alldb['ov'] = pd.to_numeric(data_alldb['ov'], errors='coerce') # เปลี่ยนให้เป็นตัวเลขเท่านั้น
data_alldb = data_alldb.replace(np.nan, 0, regex=True)    # เปลี่ยนจากค่าว่างให้เป็น 0
data_alldb['ov'] = data_alldb['ov'].astype(int)    # เปลี่ยน type ของ ov ให้เป็น

NameError: ignored